<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose K-Means Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-1)" />
    </form>
    <h1>K-Means Clustering</h1>
    <p>k-means clustering is a method of vector quantization, originally from signal processing, that aims to partition n
      observations into k clusters in which each observation belongs to the cluster with the nearest mean
      (cluster centers or cluster centroid), serving as a prototype of the cluster.</p>
    <p>It is a type of unsupervised learning, which is used when you have unlabeled data (i.e., data without defined
        categories or groups).</p>

    <br>
    <h3>Choose K-Means Model Type:</h3>
    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/kmeans" class="link">Use Default</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_kmeans" class="link">Create Own</a>
        </button>
      </div>
    </div>
  </body>
</html>
