<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>K-Means</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/kmeans_home.css' %}" />
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.js"></script>
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-2)" />
    </form>
    <h1>K-Means Clustering</h1>
    <h3>
      This interactive demo lets you explore the K-Means clustering algorithm
      that is used to solve the clustering problems.
    </h3>
    <h3>
      You can add an unlimited number of points and up to 50 clusters or upload
      the <b>.csv</b> or <b>.txt</b> file with coordinates of points.
    </h3>
    <form
      action=""
      method="POST"
      enctype="multipart/form-data"
      class="form-style"
      onsubmit="getPoints(event, this)"
    >
      {% csrf_token %}
      <label for="file1" class="upload-label"
        ><b>Choose a File (.csv or .txt):</b></label
      >
      <input
        type="file"
        id="file1"
        name="file"
        accept=".csv,.txt"
        onchange="showFileType(this)"
        required
      />
      <button type="submit" class="upload" id="upload-file">Upload</button>
    </form>

    <div class="settings">
      <div class="group">
        <label for="k">K (Number of Clusters): <span id="k-pl">1</span></label>
        <input type="range" id="k" min="1" max="50" value="1" />
      </div>
      <div class="wide-group">
        <button class="update-clusters">Update Clusters</button>
      </div>
      <div class="wide-group">
        <label id="x-label" for="x_point"><span id="x_point-pl">0</span></label>
      </div>
      <div class="wide-group">
        <input type="number" id="x_point" min="0" max="1000" value="0" />
      </div>
      <div class="wide-group">
        <label id="y-label" for="y_point"><span id="y_point-pl">0</span></label>
      </div>
      <div class="wide-group">
        <input type="number" id="y_point" min="0" max="1000" value="0" />
      </div>
      <div class="wide-group">
        <button class="add-point">Add Point</button>
      </div>
      <div class="wide-group">
        <button class="step">Run Model</button>
      </div>
      <div class="wide-group">
        <button class="restart" disabled="true">Reset Clusters</button>
      </div>
      <div class="wide-group">
        <button class="reset">Reset points</button>
      </div>
    </div>
    <br />
    <p id="error" class="repr-err-msg"></p>
    <svg class="kmeans"></svg>

    <script
      type="text/javascript"
      src="{% static 'js/kmeans/custom_kmeans.js' %}"
    ></script>
  </body>
</html>
