<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>KNN</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'knn_home.css' %}">
  <link rel="icon" href="{% static 'machine_learning_icon.png' %}">
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <script src="{% static 'knn_home.js' %}"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  canvas {
    cursor: pointer;
  }
  .instructions {
    font-size: 14pt;
  }
</style>
<body>
<div class='container-fluid'>
  <h1>K Nearest Neighbors (KNN)</h1>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 instructions">
      This interactive demo lets you explore the K-Nearest Neighbors algorithm for
      classification.
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <canvas id="canvas"></canvas>
    </div>
  </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'knn_home.js' %}"></script>
</body>
</html>
