<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose LDA Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-1)" />
    </form>
    <h1>Linear Discriminant Analysis (LDA)</h1>
    <p>Linear discriminant analysis (LDA), normal discriminant analysis (NDA), or discriminant function analysis is a
      generalization of Fisher's linear discriminant, a method used in statistics and other fields, to find a linear
      combination of features that characterizes or separates two or more classes of objects or events.</p>
    <p>The resulting combination may be used as a linear classifier, or, more commonly, for dimensionality
      reduction before later classification.</p>
    <p>Linear discriminant analysis is most commonly used as a dimensionality reduction technique in the pre-processing
      step for pattern classification and machine learning applications.</p>
    <p>It is also used in image processing, recommender systems, bioinformatics, and other fields.</p>
    <p>It is a supervised method, using known class labels for the training samples.</p>
    <p>It is a type of parametric method, since it makes strong assumptions about the distribution of the data.</p>
    <p>It is a special case of the more general discriminant analysis, which can also include methods that are not linear.</p>
    <br>
    <h3>Choose LDA Model Type:</h3>
    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/lda" class="link">Use Default</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_lda" class="link">Create Own</a>
        </button>
      </div>
    </div>
  </body>
</html>
