<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose LDA Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-1)" />
    </form>
    <h1>Choose LDA Model Type</h1>
    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/lda" class="link">Use Default</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_lda" class="link">Create Own</a>
        </button>
      </div>
    </div>
  </body>
</html>
