<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose MLE Model Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-1)" />
    </form>
    <h1>Maximum Likelihood Estimation (MLE)</h1>
    <p>In statistics, maximum likelihood estimation (MLE) is a method of estimating the parameters of an assumed
      probability distribution, given some observed data. This is achieved by maximizing a likelihood function so that,
      under the assumed statistical model, the observed data is most probable.</p>
    <p>The point in the parameter space that maximizes the likelihood function is called the maximum likelihood
      estimate. The logic of maximum likelihood is both intuitive and flexible,
      and as such the method has become a dominant means of statistical inference.</p>
    <p>Maximum likelihood estimation is a special case of the method of moments,
        and is closely related to the method of maximum a posteriori (MAP) estimation.</p>
    <p>Maximum likelihood estimation is used in a wide variety of fields, including statistics, econometrics,
        and of course machine learning.</p>
    <p>For more information, please visit <a href="https://en.wikipedia.org/wiki/Maximum_likelihood_estimation">Wikipedia</a>.</p>
    <br>
    <h3>Choose MLE Model Type:</h3>
    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/mle" class="link">Use Default</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_mle" class="link">Create Own</a>
        </button>
      </div>
    </div>
  </body>
</html>
