<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose PCA Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-1)" />
    </form>
    <h1>Principal Component Analysis (PCA)</h1>

    <p>Principal component analysis (PCA) is a technique to bring out strong patterns in a dataset by suppressing
      variations. It is used to clean data sets to make it easy to explore and analyse. </p>
    <p>The algorithm of Principal Component Analysis is based on a few mathematical ideas namely:
      Variance and Covariance.</p>
    <p>PCA is an unsupervised method used in dimensionality reduction. It is used to reduce the number of random
      variables under consideration, by obtaining a set of principal variables. </p>

    <p>For more information, please visit <a href="https://en.wikipedia.org/wiki/Principal_component_analysis">Wikipedia</a>.</p>

    <br>
    <h3>Choose PCA Model Type:</h3>

    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/pca" class="link">Use Default Dataset</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_pca" class="link">Use Own Dataset</a>
        </button>
      </div>
    </div>
  </body>
</html>
