<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PCA</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/pca_home.css' %}" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script
      type="text/javascript"
      src="https://d3js.org/d3.v4.0.0-alpha.28.min.js"
    ></script>
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-2)" />
    </form>
    <h1>Principal Components Analysis (PCA)</h1>
    <h2>
      PCA is an unsupervised learning algorithm that is used for the
      dimensionality reduction in machine learning.
    </h2>
    <br />
    <form
      action=""
      method="POST"
      enctype="multipart/form-data"
      class="form-style"
    >
      {% csrf_token %}
      <label for="file1" class="upload-label"><b>Choose a File:</b></label>
      <input type="file" id="file1" name="file" accept=".csv, .txt" />
      <button type="submit" class="upload">Upload</button>
      <br />
      {% if messages %} {% for message in messages %}
      <div>
        <strong class="error-msg">{{message|safe}}</strong>
      </div>
      {% endfor %} {% endif %}
    </form>
    {% if column_headers %}
    <div class="center">
      <p><b>Choose number of components: </b></p>

      <input
        value="2"
        class="analyze"
        id="submit-type-btn"
        type="button"
        onClick="chooseN(2)"
      />
      <input
        value="3"
        class="analyze"
        id="submit-type-btn"
        type="button"
        onClick="chooseN(3)"
      />
      {% endif %}
    </div>
    <form method="POST" action="" class="formData">
      <p class="responseData">{{data}}</p>
    </form>
    <div id="pca"></div>
    {% if plt_div %} {{ plt_div|safe }} {% else %}
    <p></p>
    {% endif %}

    <script
      type="text/javascript"
      src="{% static 'js/pca/pca_custom.js' %}"
    ></script>
  </body>
</html>
