<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PCA</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/pca_home.css' %}" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script
      type="text/javascript"
      src="https://d3js.org/d3.v4.0.0-alpha.28.min.js"
    ></script>
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-2)" />
    </form>
    <h1>Principal Components Analysis (PCA)</h1>
    <h2>
      PCA is an unsupervised learning algorithm that is used for the
      dimensionality reduction in machine learning.
    </h2>
    <p class="desc">
      Upload the <b>.csv</b> or <b>.txt</b> file. The file must contain from
      <b>2</b> to <b>3</b> columns. <br />
      For a dataset that consists of <b>2 columns</b>, choose
      <b>2 as a number of components</b>.<br />
      For a dataset that consists of <b>3 columns</b>, choose
      <b>either 2 or 3 as a number of components</b>. <br />See below for sample
      datasets to upload:
    </p>
    <div class="settings">
      <div id="table1">
        <h4>Example of dataset with 2 columns</h4>
        <table style="width: 100%">
          <tr>
            <th>X</th>
            <th>Y</th>
          </tr>
          <tr style="text-align: center">
            <td>1.347869</td>
            <td>-37.2386752487</td>
          </tr>
          <tr style="text-align: center">
            <td>934.92349</td>
            <td>-8.232</td>
          </tr>
          <tr style="text-align: center">
            <td>10</td>
            <td>8.23</td>
          </tr>
          <tr style="text-align: center">
            <td>100</td>
            <td>-737.01</td>
          </tr>
          <tr style="text-align: center">
            <td>-2</td>
            <td>2</td>
          </tr>
          <tr style="text-align: center">
            <td>88</td>
            <td>42.1</td>
          </tr>
          <tr style="text-align: center">
            <td>100</td>
            <td>-100</td>
          </tr>
        </table>
      </div>
      <div id="table2">
        <h4>Example of dataset with 3 columns</h4>
        <table style="width: 100%">
          <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
          </tr>
          <tr style="text-align: center">
            <td>-1</td>
            <td>-1</td>
            <td>-1</td>
          </tr>
          <tr style="text-align: center">
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr style="text-align: center">
            <td>0.323</td>
            <td>34.342</td>
            <td>0</td>
          </tr>
          <tr style="text-align: center">
            <td>-23.21243</td>
            <td>13</td>
            <td>3</td>
          </tr>
          <tr style="text-align: center">
            <td>-0.3</td>
            <td>0.2</td>
            <td>-0.5</td>
          </tr>
          <tr style="text-align: center">
            <td>0.4</td>
            <td>0.4</td>
            <td>0.4</td>
          </tr>
          <tr style="text-align: center">
            <td>1</td>
            <td>22</td>
            <td>1</td>
          </tr>
        </table>
      </div>
    </div>
    <br />
    <form
      action=""
      method="POST"
      enctype="multipart/form-data"
      class="form-style"
    >
      {% csrf_token %}
      <label for="file1" class="upload-label"><b>Choose a File:</b></label>
      <input
        type="file"
        id="file1"
        name="file"
        accept=".csv,.txt"
        onchange="showFileType(this)"
        required
      />
      <button type="submit" class="upload" id="upload-file">Upload</button>
      <br />
      {% if messages %} {% for message in messages %}
      <div>
        <strong class="error-msg">{{message|safe}}</strong>
      </div>
      {% endfor %} {% endif %}
    </form>
    {% if column_headers %}
    <div class="center">
      <p><b>Choose number of components: </b></p>
      <input
        value="2"
        class="analyze"
        id="submit-type-btn"
        type="button"
        onClick="chooseN(2)"
      />
      <input
        value="3"
        class="analyze"
        id="submit-type-btn"
        type="button"
        onClick="chooseN(3)"
      />
    </div>
    {% endif %}
    <p id="error" class="repr-err-msg"></p>
    <form method="POST" action="" class="formData">
      <p class="responseData">{{data}}</p>
    </form>
    <div id="pca"></div>
    {% if plt_div %} {{ plt_div|safe }} {% else %} {% endif %}
    <script
      type="text/javascript"
      src="{% static 'js/pca/pca_custom.js' %}"
    ></script>
  </body>
</html>
