body {
    background-color: #EEE;
    font-family: Georgia, serif;
}

#pageHeader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.algorithmsSelection {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: 80%;
  height: 180px;
}

.card-body {
  width: 80%;
  text-align: center;
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 7px 40px 9px 46px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.icon_img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 100px;
}
