body {
    background-color: #EEE;
    font-family: Georgia, serif;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h3, h4 {
  text-align: center;
}

#lda {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.settings {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 70px;
}

.wide-group {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 20px;
}

.ratio-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ratio-line {
  margin-top: 30px;
}

.ratio-cell {
  margin-top: 35px;
  margin-left: 10px;
}

.reset {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 102, 255);
  padding: 10px;
  border-radius: 5px;
}

.classify {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.dataset {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.upload-label {
  padding-right: 1%;
}

.btn-style {
  margin-bottom: 1%;
}

.upload-desc {
  padding-top: 0.3%;
}

.error-msg {
  color: red;
  text-align: center;
  padding-left: 50px;
  padding-top: 50px;
}

.repr-err-msg {
  color: red;
  text-align: center;
  padding-left: 50px;
  font-weight: 900;
}

.center {
  justify-content: center;
  align-items: center;
  display: grid;
  margin-top: 5%;
}

.upload {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}

.form-style {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#custom-lda {
  margin-top: 30px;
  margin-left: 250px;
 }
 table, th, td {
  border:1px solid black;
}
#table1 {display:inline-block; margin-right: 40px;}
#table2 {display:inline-block;}

.desc {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
