<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Choose Naive Bayes Type</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/machine_learning_icon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/choose_model.css' %}" />
  </head>
  <body>
    <form>
      <input type="button" value="&#8592;" onclick="history.go(-2)" />
    </form>
    <h1>Naive Bayes Classifier</h1>

    <p>In statistics, naive Bayes classifiers are a family of simple "probabilistic classifiers" based on applying
      Bayes' theorem with strong (naive) independence assumptions between the features</p>
    <p>Naive Bayes classifiers are highly scalable, requiring a number of parameters linear in the number of variables
        (features/predictors) in a learning problem.</p>
    <p>Naive Bayes classifiers are often extremely fast compared to more sophisticated methods.</p>
    <p>Naive Bayes classifiers have very low memory requirements.</p>
    <p>They can be extremely useful even if their assumptions don’t hold, which is very
      common in practice.</p>
    <p>Naive Bayes classifiers are often very easily interpretable, providing a nice probability
        distribution over the classes for each input.</p>
    <p>Naive Bayes classifiers can be very easily updated, which makes it possible to stream data.</p>
    <p>Naive Bayes classifiers are often very good in practice, even if their theoretical
      justification for why they work is shaky.</p>

    <p>For more information, please visit <a href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier">Wikipedia</a>.</p>

    <br>
    <h3>Choose Naive Bayes Model Type:</h3>
    <div class="settings">
      <div class="wide-group">
        <button class="btn-style">
          <a href="/naive_bayes" class="link">Use Default</a>
        </button>
      </div>
      <div class="wide-group">
        <button class="btn-style">
          <a href="/custom_naive_bayes" class="link">Create Own</a>
        </button>
      </div>
    </div>
  </body>
</html>
